VITE_ARC_RPC_URL=https://rpc.testnet.arc.network
VITE_ARC_FALLBACK_RPC_URL=https://rpc.testnet.arc.network
VITE_ARC_CHAIN_ID=5042002
VITE_ARC_EXPLORER=https://testnet.arcscan.app
VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_ARC_USDC_ADDRESS=0xE17c60B0C242E9Ddac7591aca8eFc3D1a0123178
VITE_ARC_EURC_ADDRESS=0x7DC17487ec01cd547C553c75Fda3e0c67B481653
VITE_SEPOLIA_USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
VITE_PRIVY_APP_ID=YOUR_PRIVY_APP_ID
VITE_PRIVY_CLIENT_ID=client-WY6ZNQRs76PWeQKUQYoZU1Ukeswg1TawtCu5rG3vvAkeU

# New contract addresses (deployed to Arc Testnet)
VITE_ARC_FACTORY_ADDRESS=0x205879F4442E0f7a2Bc27bf2dAcc25A31756a210
VITE_ARC_ROUTER_ADDRESS=0xA2bfb7bfAe66ED9C780ac700cE5933C7C3d7D74F

# Server-only env. Do not prefix with VITE.
CIRCLE_KIT_KEY=KIT_KEY:YOUR_ID:YOUR_SECRET
PRIVY_APP_ID=YOUR_PRIVY_APP_ID
PRIVY_APP_SECRET=YOUR_PRIVY_APP_SECRET

# Deploy wallet (for contract deployment only)
# Address: 0x33133a43152eb47bd384B42dDab3aDf857DAdd50
# PRIVATE_KEY=0x86c3a3d0e23f9f78f664d7536589e3bc048f7c453bb23030f023797f1d76e513
